@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html,body{
  margin: 0px;
}
i {
  font-family: fontawesome !important;
  }
/*search-icon*/
#wrap {
   padding: 10px;
  display: inline-block;
  position: relative;
  height: 10px;
  padding-top: 0px;

}


input[type="text"] {
  height: 50px;
  font-size: 15px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 90;
  border: none;
  outline: none;
  color: #fff;
  padding: 20px;
  padding-right: 90px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid rgb(241, 223, 229);
}

input[type="text"]:focus {
  width: 200px;
  padding-right: 80px;
  z-index: 1;
  border-bottom: 1px solid rgb(247, 244, 245);
  color:#fff;
  cursor: text;
}
.fa-search #search_submit {
  height: 30px;
  width: 30px;
  display: inline-block;
  color:rgb(247, 243, 243);
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}
.fa, .fab, .fal, .far, .fas
{
  color: #fff;
}

.fa-search #search_submit:hover {
  opacity: 0.8;
}
/*end of search icon*/
/*start vedio */
.full-screen-video-container
{

overflow: hidden;
z-index: -100;
width:100%;
height:85%;
position:absolute;
top:0;
left:0;
filter: brightness(35%);
}
/*end vedio*/
/*start style of navbar*/
.navbar-light .navbar-nav .nav-link
{
  color:#fff;
  font-size: 18px;
  margin:5px;
}
.navbar-light .navbar-nav .nav-link:hover
{
  color:rgb(218, 150, 4);
  -webkit-transition: all .28s ease;
  -o-transition: all .28s ease;
  transition: all .28s ease;
  opacity: 0.7;
  text-decoration: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#47051b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(61, 3, 27, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(250, 249, 249);
  text-decoration: none;
  display: block;
}
.dropdown-content a :hover {
background-color: #47051b;
 
  text-decoration: none;
  display: block;
}
 .dropdown-content a:hover {background-color:#e9a21f;}
.hovernav:hover .dropdown-content {display: block;}
#navbarSupportedContent
{
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-light .navbar-brand
{
  color:#fff;
}
.navbar-light .navbar-brand:hover
{ color: #555;
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all .28s ease;
  -o-transition: all .28s ease;
  transition: all .28s ease;
}

.fa {
    
  font-size: 26px;
  width: 40px;
  text-decoration: none;
 color: #fff;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #fff;
}
.branding
{
  padding-right:40px; 
  padding-left: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.navbar-light .navbar-brand
{
    color:#FFF;
   font-size: 25px;
 

}
.navbar-light .navbar-toggler-icon
{
 background-color: #fff;
 color:#fff;

}
.btn-contact
{
color: #FFF;
background-color:  #690841;
font-family: 'Oswald', sans-serif;
border-radius: 25px;
text-transform: uppercase;
letter-spacing: 1.5px;
padding: 10px 25px;
font-size: 10px;
margin-right:100px;
}
.navbar 
{
padding: 0px;

}

.dis
  {
    margin-top: 18%;
    margin-bottom: 10%;

  }
  .dis p
  {
    color:rgb(247, 243, 243);
    font-size: 45px;
    font-family: 'Aldrich', sans-serif;
    font-weight: 100px;
    text-shadow: 4px 4px 4px rgb(105, 35, 68);

  }
  .dis h3
  {
    color:rgba(250, 249, 248, 0.966);
    font-size: 100px;
    text-shadow: 4px 4px 4px rgb(56, 8, 28);
    font-family: 'Saira Stencil One', cursive;
    font-family: 'Russo One', sans-serif;

  }
  .dis .style
  {color:rgba(238, 134, 30, 0.884);
    font-weight: 100px;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .dis p {
      font-size: 35px;
      font-weight: 300px;
    }
}
@media (max-aspect-ratio: 16/9) {
  .dis p { 
    font-size: 25px;
    font-weight: 200px;
    }
}
@media (max-width: 767px) {
  .dis p {
    font-size: 20px;
    font-weight: 100px;
  }
  }

  @media (min-aspect-ratio: 16/9) {
    .dis h3 {
      font-size: 100px;
      font-weight: 300px;
    }
}
@media (max-aspect-ratio: 16/9) {
  .dis h3 { 
    font-size: 65px;
   
    }
}
@media (max-width: 767px) {
  .dis h3 {
    font-size: 40px;
   
  }
  }

  #header {
  
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0; 
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }
.dropdown-item
{
  font-size: 15px;
}


/*end style of navbar*/




/*subscribe-secttion*/

#subscribe .info p
{
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-top: 5px;
  padding-right: 10px;
  color:rgb(100, 99, 99); 
}
#subscribe .info strong {
  display: block;
  letter-spacing: .5px;
  font-size: 20px;
}
.hand-img img
{
   width:90%; 
   overflow:hidden;

}
.input-group.mixed
{
  margin-top: 14px;
  
}
.input-group.mixed .input-2
{
-webkit-box-flex: 3;
-ms-flex: 3;
flex: 3;
height:40px;
border-radius:25px 0 0 25px;
}
.input-group.mixed .input-1
{
-webkit-box-flex: 3;
-ms-flex: 3;
flex: 3;
height:40px;
border-radius:25px ;

}




.input-group.mixed button
{
-webkit-box-flex: 3;
-ms-flex: 3;
flex: 3;
height:40px;
text-align: center;
border-radius: 0 25px 25px 0 ;
}
input {
font-size: 10px;

line-height: 1.67;
color: rgba(109,109,109,.75);
outline: none;
padding: 10px 25px;
}
.btn-primary
{
color: #fff;
background: #ee8421;
-webkit-transition: all .3s ease;
-o-transition: all .3s ease;
border: none;
transition: all .3s ease;
}
.btn-primary:hover
{
color: #fff;
background: #520428;
-webkit-transition: all .3s ease;
border: none;
-o-transition: all .3s ease;
transition: all .3s ease;
}
.social {
  margin-top: -10px;
  margin-right: 15px;
}
/*end subscribe*/
@media (min-aspect-ratio: 16/9) {
  .info {
   text-align: center;
   
  }
  .info strong {
    font-size: 100px;
  }
  #subscribe{
    margin-top:7%;
  }
}
@media (max-aspect-ratio: 16/9) {
.info { 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: 100px;
  color:#050505;
 
  }
  
  .info strong {
    font-size: 100px;
    font-weight: 100px;
    color:#050505;
    
  }
  #subscribe{
    margin-top:22%;
  }
}
@media (max-width: 767px) {
  .info { 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
   
    }
.dis h3 {
  font-size: 40px;
  font-size: 100px;
 
}
#subscribe{
  margin-top:22%;
}
@media (min-width: 767px) {
  .info { 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
   
    }
  .dis h3 {
    font-size: 40px;
    font-size: 100px;
   
  }
  #subscribe{
    margin-top:22%;
  }
}
}

  /*banner*/
  .banner img
  {
   width: 100%;
   
  }
 
  /*end banner*/

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
  {
      padding-left: 0px;
      padding-right: 0px;
  }
  #sticker1 img
  {
    width: 100%; 
    height: 950px;
    
  }
  .inner{
    padding-top: 100px;
    padding-bottom: 60px;
    margin-left: 50px;
    width: 80%;
  }

  .inner p
  {
    font-family:'Gothic A1', sans-serif;
    color:rgb(153, 152, 152);
  }
  .inner h2
  {
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
  }



  #sticker2 img
  {
    width: 100%; 
    height: 950px;
   
  }
  #sticker3 img
  {
    width: 100%; 
    height: 950px;
   
  }

    /*start big-banner*/

.big-banner
{
  background-image:url('../img/5srcollage-@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.speaker-img 
{
  background-image:url('../img/Bitmap-1-e1525387328679.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.dark-filter{
 
  background-color: rgba(31, 29, 29, 0.349);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dark-filter:hover{
  background-color: rgba(15, 15, 15, 0.774);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.inner-content
{
  position: absolute;
  top:24%;
  left:20%;
  bottom: 100;
  left: 100;
  text-align: center;
}

.inner-content h2
{
  color:#fff;
  font-size: 90px;
  font-weight: 700;
  line-height: 110px;
  text-transform: uppercase;
}
.inner-content h3
{
  color:#fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 110px;
  text-transform: uppercase;
}
/*end*/
/*book*/
.b-img img
{ width:100px;
  height:100px;
 margin-top: -20px;

} 
.bookd
{
  padding-top:15px;

}

/*end - book*/

/*end sponser*/
.sponsor-list 
{
  text-align: center;
}

.sponsor-container
{ 
  width:800px;
  overflow: hidden;
  margin-top: 40px;
 
}
.sponsor-list
{
  margin-top: 100px;
  margin-bottom: 60px;
}
.spon-text
{
  color: rgba(150, 149, 149, 0.801);
  
}
/*end sponser*/
/*start footer*/
.footer {
  color: #fff;
  background: #000;
  padding-top: 50px;
  float: left;
  width: 100%;
  position: relative;
  z-index: 300;
}
.logo img
{
  width:60px ;
 height:60px ;
}
.footext
{
  color:#FFF;
  line-height: 110px;
  text-transform: uppercase;
  font-size: 10px;
}
.footer .footer-main .footer-menu a.logo
{
  margin-right: 30px;
}
.footer .footer-main .footer-menu a.footext
{
  margin-right: 30px;
}

.secondary a 
{
  color:rgb(199, 195, 195);
  font-size: 8px;
  text-transform: uppercase;
  margin-right: 10px;
}
.secondary span
{
  font-size: 8px;
  text-transform: uppercase;
}
.social1
{
  float:left;

}
.social1 a 
{
  color:rgb(199, 195, 195);
  font-size: 8px;
  text-transform: uppercase;
 
}
.social1 .soc
{
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.social1 span{
  color:rgb(199, 195, 195);
  font-size: 8px;
  text-transform: uppercase;
}


.subscribe-form {
  margin-top: 64px;
  position: relative;
}

#input-form {
  border: 1px solid white;
  border-radius: 0px;
  background-color: #faf6f5;
  color: #000000;
  position:relative;
  padding: 0px 30% 0px 10px;
}



.subscribe-btn {
  position: absolute;
  background-color: #ffffff;
  color: #080707;
  font: 24px bold;
  font-family: Roboto, Serif;
  font-weight: bold;
  border-style: none;
  border-radius: inherit;
  position: absolute;
  right: 5px;
  top:3px;
}

.first-footer
{
  padding-bottom: 30px;
}
.line
{
  background-color: rgba(105, 103, 103, 0.884);
}
.footer-bottom
{
  padding-bottom: 15px;
}
/*end footer*/
/*start sec&third-sticky*/
.star-rating
{
  height:20px;
  width: 130px;
 margin-bottom: 20px;
 margin-top: 10px;
}
.quote-section strong{
  font-size: 19px;
}
.trail{
color:#000;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;

}
.trail span{
  padding-left: 10px;
}

.trail:hover{
  color:#000;
  text-decoration: none;
 
  }
   .fa-angle-right
  { color:#000;
    font-size: 20px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    
  }
 .fa-angle-right:hover
  {  opacity: 1;
    transition: all 0.5s linear;
    transform: translateX(10px);
    
  }
  
/*end sec-sticky*/